.Tab {
    margin:auto;
}

.tableauu {
    width:100%;
    min-width: 90%;
    min-height: 90%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
}