@import url('https://fonts.googleapis.com/css?family=Charmonman');
.dash{
    z-index: 100000000000;
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 4;
    grid-column-end: 5; 
    width: 70%;
    height: 50%;
    margin:auto;
}

.dash-button{
    z-index: 100000000000;
    width:100%;
    height: 100%;
    cursor: pointer;
    border: none;
    text-decoration: none;
    border-radius: 50px;
    background: linear-gradient(to right, #c33764, #1d2671);
    color:white;
    box-shadow: 1px -1px 56px -7px rgba(0,0,0,0.75);
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding:0;
}

.dash-button:hover{
    transform: scale(1.1);
}
