.Button {
    border: 3px solid white;
    background:white;
    z-index: 9999999;
    width: 60%;
    height: 50px;
    margin:auto;
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 4;
    grid-column-end: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.buttontext {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.Button:hover{
    transform: scale(1.1);
    cursor: pointer;   
}

.Text{
    width: 50%;
    font-style: italic; 
    color: white;
    border:none;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
    background: none;
}

.Text > .buttontext{
    color: white;
}