#map {
    height: 95%;
    width: 95%;
    grid-area: mapid;
    margin:auto;
    border-radius: 5px;
}

.LineChart3{
    height: 95%;
    width: 97.5%;
    grid-area: LineChart3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    margin:auto;
}

.dataviz3_2 {
    width:100%;
    height:100%;
    position: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
            "mapid showtext"
            "LineChart3 LineChart3";
    background: whitesmoke;
}

.showRegionText{
    grid-area: showtext;
    width:95%;
    height:95%;
    background: white;
    margin:auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "attraction city"
        "attraction reset";
    border-radius: 10px;
    grid-gap: 5px;
}

.dv3desc {
    grid-area: city;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size:16px;
    font-family: 'Montserrat', sans-serif;
    background: #00c484;
    text-align: center;
}

.dvHeader {
    font-weight: 400;
}

.dvTag {
    width:90%;
    margin:0 auto;
    font-size: 12px;
}

.attractionname {
    grid-area: attraction;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size:22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-align: center;
    background: #00c484;
}

.city {
    font-size: 28px;
    font-weight: 400;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attraction {
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resets {
    grid-area: reset;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #00c484;
    cursor: pointer;
}

.reset-icon {
    font-size:40px;
    padding-bottom: 5px;
}

.resets > span {
    font-size:16px;
    font-family: 'Montserrat', sans-serif;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(-360deg);
    }
    0% {
        transform:  rotateZ(0deg);
    }
}

.legend {
    line-height: 18px;
    color: white;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
