.LineChart{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin:auto;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
                "chartheader"
                "chartheaderline";
    background: rgb(255, 255, 255);
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    width:93%;
    height:93%;
    min-width: 500px;
    min-height: 200px;
    /* border-radius: 5px; */
}

.dataviz2{
    width:100%;
    min-width: 1200px;
    background: whitesmoke;
    height:100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.linechart {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    grid-area: chartheaderline;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genderchart{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
                "chartheader"
                "chartheaderline";
    margin:auto 0;
    /* border-radius: 5px; */
    background: rgb(255, 255, 255);
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    width:93%;
    height:93%;
    min-width: 500px;
    min-height: 200px;
}

.Male {
    grid-area: male;
    width:100%;
}

.Female { 
    grid-area: female;
    transform: rotateY(180deg);
}

.genderpurpose{
    width:93%;
    height:93%;
    min-width: 500px;
    min-height: 200px;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
                "chartheader"
                "chartheaderline";
    margin:auto;
    /* border-radius: 5px; */
    background: rgb(255, 255, 255);
    grid-column: 1 / 2;
}

.xaxiss {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.filter {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width:93%;
    height:93%;
    min-width: 500px;
    min-height: 200px;
    margin: auto 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
            "filter"
            "days";
    grid-gap: 10px;
}

.filters {
    grid-area: filter;
    width:100%;
    height:100%;
    display: grid;
    grid-template-columns: 1fr 450px 1fr;  
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
                    ". country ."                 
                    ". from ."                 
                    ". to ."                 
                    "filtersubmit filtersubmit resetfilter";                 
    background: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 13px;
}

.countryDiv {
    grid-area: country;
    width:100%;
    margin:auto;
    display:grid;
    grid-template-columns: 100px 350px;
    grid-template-areas: "filterhead countryfilter";
    height:100%;
}

.filterheader {
    display: block;
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
}

.fromDiv {
    grid-area: from;
    width: 100%;
    display:grid;
    grid-template-columns: 100px 350px;
    grid-template-areas: "countryhead countryfilter";
    height:100%;
}

.toDiv {
    grid-area: to;
    width:100%;
    display:grid;
    grid-template-columns: 100px 350px;
    grid-template-areas: "countryhead countryfilter";
    height:100%;
}

.filterselect {
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 8px;
    
}

.countries {
    width:100%;
}

.rmp-main-container{
    width:100%;
    height:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.mp-form-container {
    width:100%;
    margin-left: 8px;
}

.mp-form-input {
    width:100%;
    border: none;
    border-bottom: 2px solid #00c484;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    text-align: center;
}

.country-select {
    border: none;
    overflow: hidden;
}

.country-select select {
    width: 100%;
    height:70%;
    border: none;
    border-bottom: 2px solid #00c484;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    text-align: center;
}

.country-select select:focus {
    outline: none;
}

.country {
    text-align: center;
}

.submitfilters {
    grid-area: filtersubmit;
    margin-top:auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00c484;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.resetfilters {
    cursor: pointer;
    grid-area: resetfilter;
    margin-top:auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d63031;
    color: white;
    font-size: 16px;
}

.filterheaders {
    font-size: 24px;
}

.recharts-legend-item-text {
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
}

.chartheader {
    grid-area: chartheader;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    margin:auto;
}

.headertext {
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #143c67;
}

.headerline {
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color:#b6922e;
    font-size: 14px;
}

.barchart {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    grid-area: chartheaderline;
    display: flex;
    justify-content: center;
    align-items: center;
}