@import url('https://fonts.googleapis.com/css?family=Montserrat:200|Open+Sans');
.About{
    min-height: 100vh;
    width:100%;
    background: url("./background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    display: grid;
    grid-template-rows: repeat(11, 1fr);
}

.teamheader {
    padding:0;
    grid-row-start: 1;
    grid-row-end: 3;
    margin:auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size:50px;
    color: #3498db;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamheader > b {
    padding-left: 10px;
}


.team {
    width: 97%;
    height: 90%;
    grid-row-start: 3;
    grid-row-end: 11;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px
}

.member{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background: white;
}

.member:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    animation: hov 0.5s ease-in-out;
    cursor: pointer;
}

@keyframes hov{
    0%{
        transform: rotateZ(4deg);
    }
    25%{
        transform: rotateZ(-3deg);
    }
    50%{
        transform: rotateZ(2deg)
    }
    75%{
        transform: rotateZ(-1deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}

.image {
    grid-row-start: 1;
    grid-row-end: 4;
    margin:auto;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color1 {
    background: linear-gradient(to bottom, #84afff 50%, white 50%);
}
.color2 {
    background: linear-gradient(to bottom, #ff7878 50%, white 50%);
}
.color3 {
    background: linear-gradient(to bottom, #86ea83 50%, white 50%);
}

.role {
    grid-row-start: 4;
    grid-row-end: 5;
    margin:auto;
    text-align: center;
    border-bottom: 3px solid black;
    padding-bottom: 20px;
}

.c1{
    border-color: #84afff;
}
.c2{
    border-color: #ff7878;
}
.c3{
    border-color: #86ea83;
}

.name{
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
}

.r {
    font-style: italic;
    color: grey;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0px;
}

.member-image {
    box-sizing: border-box;
    width: 50%;
    filter: grayscale(0%);
    transition: all 0.3s ease;
}

.description{
    font-size: 14px;
    width:90%;
    padding-left: 20px;
    grid-row-start: 5;
    font-family: 'Open Sans', sans-serif;
}


@media only screen 
and (min-width : 375px) 
and (max-width : 667px) 
and (orientation : portrait) { 
    .team{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1000px){
    .team{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
    }
}